In [3]:
import pandas as pd

In [38]:
df_export= pd.read_csv('https://raw.githubusercontent.com/wpan03/TDF_Technical_Tutorial/master/merge/South_Africa.csv')

In [39]:
df_stage2 = pd.read_csv('https://raw.githubusercontent.com/wpan03/TDF_Technical_Tutorial/master/merge/sample_stage2.csv')

In [19]:
df_export.columns[0:5]

Index(['project_id', 'recommended_for_research', 'umbrella_project', 'donor',
       'title'],
      dtype='object')

In [30]:
df_stage2.columns

Index(['PROJECT_ID', ' flow_class', ' year'], dtype='object')

In [31]:
df_stage2 = df_stage2.rename(columns={'PROJECT_ID': "project_id"})
df_stage2.head()

   project_id  flow_class   year
0       31303                NaN
1       31302                NaN
2       16372                NaN

In [32]:
df_export.head()

,project_id,recommended_for_research,umbrella_project,donor,title,year,year_uncertain,description,crs_sector_code,crs_sector_name,...,is_ground_truthing,loan_type,interest_rate,maturity,grace_period,grant_element,updated_at,location_details,contacts,is_official_finance
0,45671,True,False,China,(Kyra Solomon training project 11) China funds...,2012,True,"In 2012, Standard Bank of South Africa worked ...",160.0,Other Social infrastructure and services,...,False,NaN,NaN,NaN,NaN,NaN,2017-06-13 14:32:04 -0400,NaN,NaN,0
1,45680,True,False,China,(Kyra Solomon training project 12) China acqui...,2011,False,As part of a steady stream of Chinese investme...,320.0,"Industry, Mining, Construction",...,False,NaN,NaN,NaN,NaN,NaN,2017-06-13 14:32:22 -0400,NaN,NaN,0
2,16385,True,False,China,"(deactivated - no $, commercial) Mining cooper...",2007,False,"In 2007, China and South Africa signed a coope...",320.0,"Industry, Mining, Construction",...,False,NaN,NaN,NaN,NaN,NaN,2017-01-02 22:50:02 -0500,NaN,NaN,0
3,15682,True,False,China,Agreement on investment protection,2000,False,"In 2000, President Jiang Zemin and President T...",240.0,Banking and Financial Services,...,False,NaN,NaN,NaN,NaN,NaN,2013-03-27 23:51:58 -0400,NaN,NaN,0
4,15881,True,False,China,Agreement on taxes,2000,False,"In 2000, Chinese President Jiang Zemin and Sou...",330.0,Trade and Tourism,...,False,NaN,NaN,NaN,NaN,NaN,2013-03-26 15:42:23 -0400,NaN,"Ron van der Merwe, ; Atiku Abubakar,",0

In [33]:
df_merge = pd.merge(df_stage2, df_export, on='project_id', how='left')

In [37]:
df_merge[['project_id','year','flow_class']].head()

   project_id  year flow_class
0       31303  2013   OOF-like
1       31302  2007   OOF-like
2       16372  2006   OOF-like