In [23]:
import pandas as pd

In [24]:
df = pd.read_csv('https://raw.githubusercontent.com/wpan03/TDF_Technical_Tutorial/master/transfer/sample_stage1.csv')

In [25]:
df = df.rename(columns={'Projects Amended (All Years)': "Projects Amended"})
df.head()

  Source                                   Projects Amended
0      A                                  1206, 1192, 1206
1      B  57906, 1240, 41580, 1221, 21250, 1230, 1192, 1206
2      C                                                NaN
3      D  53147, 22008, 758, 57430, 35668,1230, 34621, 3...
4      E                                   22071, 766, 1206

In [26]:
df['Projects Amended'] = df['Projects Amended'].astype(str)

In [27]:
special = df['Projects Amended'].str.split(',').notnull()
df.loc[special, 'Projects Amended'] = df[special]['Projects Amended'].str.split(',')
df = df.explode('Projects Amended')
df.head(10)

  Source Projects Amended
0      A             1206
0      A             1192
0      A            1206
1      B            57906
1      B             1240
1      B            41580
1      B             1221
1      B            21250
1      B             1230
1      B             1192

In [29]:
df['Projects Amended'] = df['Projects Amended'].astype(str)
special1 = df['Projects Amended'].str.strip().notnull()
df.loc[special1, 'Projects Amended'] = df[special1]['Projects Amended'].str.strip()
df_transfered = df.drop_duplicates('Projects Amended').reset_index(drop=True)

In [30]:
df_transfered

   Source Projects Amended
0       A             1206
1       A             1192
2       B            57906
3       B             1240
4       B            41580
5       B             1221
6       B            21250
7       B             1230
8       C              nan
9       D            53147
10      D            22008
11      D              758
12      D            57430
13      D            35668
14      D            34621
15      D            33904
16      D            57607
17      D             1222
18      D             1238
19      D            50130
20      D            22071
21      D            57629
22      D            27498
23      D             2006
24      D            21449
25      D             1119
26      D            21904
27      D              766
28      D            57394
29      D            57395
30      D            57399
31      D            30376
32      D            57313